[submodule "system/third-party/twig"]
	path = system/third-party/twig
	url = git://github.com/fabpot/Twig.git
[submodule "system/third-party/yaml"]
	path = system/third-party/yaml
	url = git://github.com/fabpot/yaml.git
