body,p,ul,li,div,h1{margin:0;padding:0;font-size:14px;}
body{font-family: "Helvetica Neue", Helvetica, sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing: antialiased;}
div{margin:30px 0 40px 30px;width:450px}
h1{padding:7px 8px;letter-spacing:-1px;line-height:26px;font-size:24px;white-space:nowrap;}
li{list-style:none;border-top:1px solid #EEE;padding:1px 0;}
a{-webkit-transition:all 150ms ease-in-out;background:#EEE;border:1px solid #DDD;}
a,p{color:#333;text-decoration:none;padding:6px 8px;-webkit-border-radius:3px;display:block;}
a:hover{color:#222;background:#FAFAFA;}